<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/index.css">
        <title>
            testing lost and found
        </title>
        <script src="index.js"></script>
    </head>
    <body>
        <div class="top">
            <h1><p style="font-family: monospace;">testing lost and found databse</p></h1>

        </div>
        <div class="parent">
            <div class="form">
                <h1><p style="color: white; font-family: monospace; font-weight: bold;">Item details</p></h1><br>
                <form action="/formfill" method="POST" class="login">
                    <div class="con1">
                        <label for="emailtxt" style="color: white; font-family: monospace; font-weight: bold;">
                            Username<br>
                        </label>

                    </div>
                    
                    
                    <input type="text" class="emailtxt" id="emailtxt" name="username"><br>
                    <div class="con2">
                        <label for="password" style="color: white; font-family: monospace; font-weight: bold;">Item</label>

                    </div>
                    
                    <input type="text" id="passwd" class="passwd" name="item"><br><br>
                    <div class="con1">
                        <label for="emailtxt" style="color: white; font-family: monospace; font-weight: bold;">
                            desccription<br>
                        </label>

                    </div>
                    
                    
                    <input type="text" class="emailtxt" id="emailtxt" name="description"><br>
                    <div class="con1">
                        <label for="emailtxt" style="color: white; font-family: monospace; font-weight: bold;">
                            Date<br>
                        </label>

                    </div>
                    
                    
                    <input type="text" class="emailtxt" id="emailtxt" name="date"><br>
                    <div class="con1">
                        <label for="emailtxt" style="color: white; font-family: monospace; font-weight: bold;">
                            place<br>
                        </label>

                    </div>
                    
                    
                    <input type="text" class="emailtxt" id="emailtxt" name="place"><br>
                    <div class="con1">
                        <label for="emailtxt" style="color: white; font-family: monospace; font-weight: bold;">
                            Phone<br>
                        </label>

                    </div>
                    
                    
                    <input type="text" class="emailtxt" id="emailtxt" name="PhoneNumber"><br>
                    <div class="con1">
                        <label for="emailtxt" style="color: white; font-family: monospace; font-weight: bold;">
                            ImageUrl<br>
                        </label>

                    </div>
                    
                    
                    <input type="text" class="emailtxt" id="emailtxt" name="imageUrl"><br>
                    <input type="submit" class="btn1">
                    
                </form>
                
                
            </div>
            

        </div>
        
        
        
    </body>
</html>